<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <link href="./Views/output.css" rel="stylesheet">
    <title>Blog</title>
</head>
<body class="">
    <div id="root"></div> <!-- Navbar start-->
    <div class="md:grid grid-cols-6">
        <div class="md:col-span-1">
            <nav class="text-right sticky top-0">
                <div class="flex justify-between items-center">
                    <h1 class="font-semibold text-3xl border-b text-left ml-2">
                        <a class="font-Special" href="/">Code Your Career</a>
                    </h1>
                    <div class="px-4 cursor-pointer md:hidden fixed right-0" id="icon">
                        <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                          </svg>                          
                    </div>
                </div>
                <ul class="m-4 mt-10 hidden md:block" id="menu">
                    <li class="px-6">
                        <a href="/">
                            <span class="navText">Home</span>
                        </a>
                    </li> 
                    <li class="px-6 mt-2 sm:text-xs">
                        <a href="/about">
                            <span class="navText">About</span>
                        </a>
                    </li>
                    <li class="px-6 mt-2">
                        <a href="">
                            <span class="navText">Contact</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
 <!-- end nav -->
    <main class="bg-slate-200 py-16 px-16 md:col-span-4 sm:px-2">
        <header>
            <h1 class="text-blue-500 mb-12 text-4xl font-bold mx-14 font-Merri">
                Articles
            </h1>
        </header>
        <div class="grid lg:grid-cols-3 md:grid-cols-2 md:gap-10 mx-14">
            <% blogPosts.forEach(item => { %>
                <a href="/blog/<%= item.slug %>">
                <div class="card" data-slug="<%= item.slug %>" id="card">
                  <img class="w-full h-40 sm:h-40 object-cover" src="<%= item.thumbnail %>"></img>
                  <div>
                    <h4 class="text-blue-700 text-2xl font-bold m-4 font-Roboto"><%= item.title %></h4>
                    <div class="text-sm m-4 font-Inter"><%= item.date %> - <%= item.author %></div>
                  </div>
                </div>
                </a>
              <% }); %>
        </div>
    </main>
</div>
<script src="/src/app.js"></script>
</body>
</html>